
layoutlm-funsd/checkpoint-19/model.safetensors
layoutlm-funsd/checkpoint-19/optimizer.pt
layoutlm-funsd/checkpoint-285/model.safetensors
layoutlm-funsd/checkpoint-285/optimizer.pt
layoutlm-funsd/model.safetensors
